* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 100%;
}
a {
    text-decoration: none;
}
/*CABEÇALHO DA PÁGINA*/
.cabecalho {
    float: left;
    width:100%;
    padding: 0.5em;
}
.cabecalho .logo {
    
    padding: 0.5em;
    margin: 5px;
    width: 64px;
    height: 64px;
    background: url('../Imagens/icone-inicio.png') center center/64px no-repeat;
    font-size: 0;
}
/*MENU DE NAVEGAÇÃO*/
.Menu {
    width: 100%;
    background:#414cad;
    padding: 2%;
    }

.Menu ul {
    width: 100%;
    
}

.Menu ul li {
    width: 100%;
    padding: 1%;
    border-bottom: 1px solid #999;
}
.Menu ul li a, .Menu ul li i {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}
.Menu ul li i {
    float: right;
}
.Menu ul li a:hover, .Menu ul li i:hover {
    color:#fcb045 ;
}